@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSans-CondLight.ttf');
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: swap;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background_stars.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navigation{  
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.navigation ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navigation ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
}
.text-hero{
    position: absolute;
    left: 50px;
    top: 225px;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.text-question-box{
    color: #EBC340;
    font-family: 'JetBrains Mono', monospace;
    font-size: 32px;
    font-style: italic; 
    letter-spacing: 6px;
    margin-top: 40px;
}
.text-box-big{
    color: #fff;
    font-style: normal;
}
.text-box-big p{
    color: #fff;
    font-size: 150px;
    letter-spacing: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.text-box-big a{
    color: black;
    background: #f5d25f;
    display: inline-block;
    border: 5px solid #EBC340;
    padding: 10px 35px;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    border-radius: 8px;
}
.background{
    min-height:120vh;
    width: 100%;
    background-color: #0D0E13;
    background-image: url(images/rocket_smoke.webp)
    
}
.main-text{
    position: absolute;
    left: 55px;
}
.text-box{
    width: 90%;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 48px;
    margin-top: 40px;

}
.text-box h1{
    margin-bottom: 20px;
}
.team-container{
    min-height: 100vh;
    width: 100%;
    background-color: #0D0E13;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    height: 425px;
    width: 260px;
    margin: 20px;
    margin-top: 200px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #181A26;
    font-family: 'Open Sans Condensed', sans-serif;
}
.pic{
margin-top: 20px;
}
.info h3{
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
}
.info span{
    color: #EBC340;
    font-size: 15px;
}
.info p{
    color: #999;
    font-size: 13px;
    padding: 10px 20px;
}
.icons a{
    color:#EBC340;  
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    padding: 0 5px; 
}
.icons a:hover{
    color: #fff;
}
.card img{
    width: 194px;
    height: 215px ;
}
.mision{
    min-height: 100vh;
    width: 100%;
    background-color: #0D0E13;
}
.mision-text{
    color: #fff;
    position: relative;
    margin-left: 50px;
    font-size: 48px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.mision-text{
    margin-bottom: 20px;
}
.sponsors_section{
    min-height: 75vh;
    width: 100%;
    background-color: #0D0E13;
}
.spons-text{
    color: #fff;
    position: relative;
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.footer{
    min-height: 25vh;
    width: 100%;
    background-color: #101117;
    justify-content: center;
    flex-wrap: wrap;
}
.copyright{
    color: #fff;
    position: relative;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
}
.social-media{
    text-align: center;
    font-size: 64px;
}
.fab{
    margin-top: 50px;
    margin-bottom: 50px;
}
.instagram{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .twitter{
    color: #00aced
  }
  .youtube{
    color: #bb0000
  }
  .tiktok{
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
  }